.head {
  height: px2rem(44px);
  background-color: #91d4da;
  font-size: px2rem(18px);
  text-align: center;
  line-height:px2rem(44px);
  color:#fff;
  font-weight: bold;

  .back {
    vertical-align:middle;
    position: absolute;
  }

  .title {
    vertical-align:middle;
  }
}