.navbar{
  height: px2rem(44px);
  background-color: #fff;
  font-size: px2rem(18px);
  text-align: center;
  line-height:px2rem(44px);
  font-weight: bold;
  ul {
    li {
      width: 20%;
      float: left;
      list-style: none;
      a {
        text-decoration: none;
        color:#6e6e6e;
      }
    }
    .active {
      border-bottom: px2rem(2px) solid #91d4da;
    }
  }
}
